# =========================
# LEAN / QuantConnect
# =========================
external/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# VSCode
# =========================
.vscode/

# =========================
# macOS
# =========================
.DS_Store